Package: hello-dbgsym
Package-Type: ddeb
Source: hello
Version: 2.10-2ubuntu4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 53
Depends: hello (= 2.10-2ubuntu4)
Section: debug
Priority: optional
Description: debug symbols for hello
Build-Ids: 16a61e5b11984d8d7be28075b3f7018e6ee4a1d7
Original-Maintainer: Santiago Vila <sanvila@debian.org>
